[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DamageDetective"]
	path = DamageDetective
	url = https://github.com/alicenjoyhenning/damagedetective
